* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .containe {
    display: flex;
    margin-top: -7.5px;
  }
  
  main {
    width: 100%;
    padding: 20px;
  }
  
  .head {
    background: #000;
    color: #fff;
    margin-bottom: -8px;
  }
  
  .sidebar {
    background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
  }
  
  .top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  
  .bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
  }
  
  .link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  .link:hover {
    background: rgb(158, 179, 193);
    color: #000;
    transition: all 0.5s;
  }
  
  .active {
    background: lightskyblue;
    color: #000;
  }
  
  .icon, .link_text {
    font-size: 20px;
  }
  
  .logout-button {
    cursor: pointer;
  }
  