.contactus{
    align-items: center;
    margin-left: 35%;
}
.contactform{
    border: 1px solid black;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 55px;
    margin-bottom: 55px;
}
.contacthead{
    margin-left: 10px;
}