.card{
    border:none;
}
.product{
    background-color: #f8f8fa;
}
.brand{font-size: 13px;
}
.act-price{
    color:green;font-weight: 700;
}
.dis-price{
    text-decoration: line-through;
    color: #da0606;
}
.about{
    font-size: 14px;
}
.color{margin-bottom:10px;
}
.btn-danger{
    background-color: #080000 !important;
    border-color: #fcfafa !important;
}
.btn-danger:hover{
    background-color:#011e2f !important;
    border-color: #006da4 !important;
}
.btn-danger:focus{
    box-shadow: none;
}
.cart i{
    margin-right: 10px;
}
#backto{
    cursor: pointer;
    color: #032030;
}
#singleproduct{
    cursor: zoom-in;
}
#singleproduct:hover{
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    background-color: #f8f4f4;
}
